{% extends 'user/user_index.html' %}
{% block content %}
{% load static %}
<section class="section contact" data-section="section6">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="section-heading">
            <h2>Apply For Job</h2>
          </div>
        </div>
        <div class="col-md-6">
        
        <!-- Do you need a working HTML contact-form script?
                	
                    Please visit https://templatemo.com/contact page -->
                    
          <form id="contact" action="{% url 'u_add' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                  <fieldset>
                    <input name="name" type="text" class="form-control" id="name" placeholder="Your Name" required="">
                  </fieldset>
                </div>
                <div class="col-md-6">
                  <fieldset>
                    <input name="email" type="text" class="form-control" id="email" placeholder="Your Email" required="">
                  </fieldset>
                </div>
                <div class="col-md-6">
                    <fieldset>
                      <input name="number" type="number" class="form-control" id="number" placeholder="Your Contact Number" required="">
                    </fieldset>
                </div>
                <div class="col-md-6">
                    <fieldset>
                      <input name="file" type="file" class="form-control" id="file" placeholder="Upload Your CV" required="">
                    </fieldset>
                </div>
                <div class="col-md-6">
                    <fieldset>
                      <input name="pname" type="text" class="form-control" id="pname" placeholder="Post Name" required="">
                    </fieldset>
                </div>
                <div class="col-md-6">
                    <fieldset>
                      <input name="ex" type="text" class="form-control" id="ex" placeholder="Your Experience/Fresher" required="">
                    </fieldset>
                </div>
                <div class="col-md-12">
                  <fieldset>
                    <textarea name="message" rows="2" class="form-control" id="message" placeholder="About Your Self..." required=""></textarea>
                  </fieldset>
                </div>
                <div class="col-md-12">
                  <fieldset>
                    <button type="submit" id="form-submit" class="button">Apply Now</button>
                  </fieldset>
                </div>
            </div>
          </form>
        </div>
        
      </div>
    </div>
  </section>
{% endblock %}